@import '/src/scss/generally.scss';


.modal{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 23, 73, 0.7);
    pointer-events: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal__content{
    @include Title-font();
    z-index: 11;
}

