@import '/src/scss/generally.scss';

.features-section{
    display: flex;
    background: $bg-color;
    position: relative;
    padding-bottom: 40px;
}

.features{
    overflow: hidden;
    &__wrapper{
        display: flex;
        justify-content: start;
    }
    &__title{
        @include Title-font();
        margin-top: 30px;
        margin-bottom: 0;
    }

    &__list{
        @include Montserrat-font();
        color: $white;
        width: 710px;
        justify-content: start;
        padding: 0;
        

        &__title{
            @include Artifika-font();
            margin-top: 50px;
            font-size: 24px;
            color: $blue
        }
        &__description{
            margin-top: 20px;
        }
    }
}

.phone{
    overflow: hidden;
    // border: 3px solid red;
    border-radius: 20px;
    margin-left: auto;
    width: 270px;
    height: auto;

    position: relative;
    &__frame{
    // background: url("./images/phone-frame.png");
    width: 100%;
    min-width: 310px;
    height: 100%;
    max-width: 650px;
    position:absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;    
    pointer-events: none;
    }
    
    &__video{
        position: absolute;
        left:0;
        top: -20px;
        height: 100%;
        width: 100%;
        z-index: 1;
        object-fit: cover;
    }
}
