@import '/src/scss/generally.scss';

.welcome-page-section{
    background: $bg-welcome-page;
}
.column-1{
    padding-left: calc(((100vw - 1440px)/2) + 140px);
}

.column{
    width: 50%;
}
.welcome-page{
    display: flex;
    justify-content: space-between;
    
    &__title{
        @include Artifika-font();
        font-size: 40px;
        line-height: 48px;
        color: $dark-blue;
        width: 520px;
        margin-top: 200px;
    }
    
    &__play{
        
        display: inline-block;
        @include Montserrat-font();
        margin-top: 30px;
        color:white;
        font-size: 36px;
        background: $linear-gradient-blue;
        padding: 15px 110px 15px calc((140px + (100vw - 1440px)/2));
        margin-left: calc(-1 * (140px + (100vw - 1440px)/2));
    }

    &__subtitle{
        @include Montserrat-font();
        width: 450px;
        font-weight: 600;
        color: #2f2f2f;
        margin-top: 70px;
        font-size: 18px;
        line-height: 22px;
    }

    &__button{
        @include Montserrat-font();
        display: inline-block;
        margin-top: 40px;
    }
}